@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-image {
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

.hover-image:hover {
  scale: 102%;
}
