@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-image {
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

.hover-image:hover {
  scale: 102%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(220 38 38 / var(--tw-border-opacity));
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
